  body {
    background-color: #b4aee8;
  }

  h1 {
    color: #440a67;
  }

  h3 {
    color: #413c69;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  p {
    color: #413c69;
  }

  a:hover {
  color: #822659;
}
