body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.pinktable {
	background-color: #fcdbd5;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #990033;
}
a:visited {
	color: #990033;
}
a:hover {
	color: #000000;
}
a:active {
	color: #FFFFFF;
}
