<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="122" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<a href="image6.html"><img src="../Claude Monet/ombrelle.jpg" width="122" height="122" border="0" /></a><a href="image7.html"><img src="../Claude Monet/monet.bateau-atelier.jpg" width="122" height="122" border="0" /></a><a href="image5.html"><img src="../Claude Monet/monet.femme-metier.jpg" width="122" height="122" border="0" /></a><a href="image4.html"><img src="../Claude Monet/monet.seine-argenteuil.jpg" width="122" height="122" border="0" /></a><a href="image8.html"><img src="../Claude Monet/monet.japonnaise.jpg" width="122" height="122" border="0" /></a>
</body>
</html>
